

.black{
    color: black;
}

.logo_div img{
    height: 50px;
    width: 50px;
}
.navbar li{
    text-decoration: none;
    font-weight: bolder;
    color: black;
}
.navbar{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.navbar-nav a{
    color: black;
    letter-spacing: 1px;
    font-size: 13.5px;
    
}
.navbar-nav a:hover{
    color: green;
}

.navbar .btn{
    font-weight: bold;
    font-size: 13px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.location{
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    font-size: 13.5px;
    font-weight: bold;
    
}
.location:hover{
    text-decoration: none;
    color: green;
    
}
.navbar .btn-1{
    background-color: white;

}
.navbar .btn-2{
    background-color: black;
    color: white;
    
}
.contain{ 
    margin-top: 35px;
    width: auto;
    background-color:#042F04;
}
.row{
    
}
.row-4,.row-5,.row-6{
    background-color:  #d4e9e2;
    color: black;
}
.row img{
    width: 100%;
    display: block;
}
.section .text_boxa, .section .text_boxd,.section .text_boxe,.section .text_boxf{
    padding: 32px 48px;
}
.section .text_boxa p,.section .text_boxd p,.section .text_boxe p,.section .text_boxf p{
    font-size: 1.3em;
}
.section .text_boxb{
    padding: 32px 48px;
}
.section .text_boxb p, .section .text_boxc p{
    font-size: 1.5em;
    text-align: center;
}
.section .text_boxb h1, .section .text_boxc h1{
    font-weight: bolder;
    font-size:3em;
}
.section .btn{
    font-weight: bold;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.last-main{
    line-height: 25px;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
}







  
@media (min-width: 780px){

  
    .last-main{
        padding: 50px 200px 30px 200px;
    }

}
@media (min-width: 1300px){

    
    .last-main{
        padding: 50px 400px 30px 400px;
    }

}
@media(min-width:1420px){
    .section{
        margin-top: 35px;
        margin-left: 35px;
        margin-right: 35px;
    }
}
@media (max-width: 1024px){

    .section .text_boxb h1, .section .text_boxc h1{
        font-weight: bolder;
        font-size:1.8em;
    }

}