



.logo_div img{
    height: 50px;
    width: 50px;
}
.navbar li{
    text-decoration: none;
    font-weight: bolder;
    color: black;
}
.navbar{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.navbar-nav a{
    color: black;
    letter-spacing: 1px;
    font-size: 13.5px;
    
}
.navbar-nav a:hover{
    color: green;
}

.navbar .btn{
    font-weight: bold;
    font-size: 13px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.location{
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    font-size: 13.5px;
    font-weight: bold;
    
}
.location:hover{
    text-decoration: none;
    color: green;
    
}
.navbar .btn-1{
    background-color: white;

}
.navbar .btn-2{
    background-color: black;
    color: white;
    
}
.contain{ 
    margin-top: 35px;
    width: auto;
}
.row{
    background-color:#042F04;
}
.section .text_boxa{
    padding: 32px 48px;
}
.section .text_boxa p{
    font-size: 1.3em;
}
.section .text_boxb{
    padding: 32px 48px;
}
.section .text_boxb p, .section .text_boxc p{
    font-size: 1.5em;
    text-align: center;
}
.section .text_boxb h1, .section .text_boxc h1{
    font-weight: bolder;
    font-size:3em;
}
.section .btn{
    font-weight: bold;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width) {
    #div-a,#div-c,#div-e {
      display: flex;
      flex-direction: column;
    }
    #div-a div:first-child {
        order: 1;
      }
    #div-c div:first-child {
        order: 1;
      }  
    #div-e div:first-child {
      order: 1;
    }
  }

