@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

.black{
    color: black;
}

.logo_div img{
    height: 50px;
    width: 50px;
}
.navbar li{
    text-decoration: none;
    font-weight: bolder;
    color: black;
}
.navbar{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.navbar-nav a{
    color: black;
    letter-spacing: 1px;
    font-size: 13.5px;
    
}
.navbar-nav a:hover{
    color: green;
}

.navbar .btn{
    font-weight: bold;
    font-size: 13px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.location{
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    font-size: 13.5px;
    font-weight: bold;
    
}
.location:hover{
    text-decoration: none;
    color: green;
    
}
.navbar .btn-1{
    background-color: white;

}
.navbar .btn-1:hover{
    background-color: #ebebeb;
    color: black;
}
.navbar .btn-2{
    background-color: black;
    color: white;  
}
.navbar .btn-2:hover{
    background-color: #464646;
    color: white;
}

.contain{ 
    margin-top: 35px;
    width: auto;
    background-color:#042F04;
}
.row{
    
}
.row-4,.row-5,.row-6{
    background-color:  #d4e9e2;
    color: black;
}
.row img{
    width: 100%;
    display: block;
}
.section .text_boxa, .section .text_boxd,.section .text_boxe,.section .text_boxf{
    padding: 32px 48px;
}
.section .text_boxa p,.section .text_boxd p,.section .text_boxe p,.section .text_boxf p{
    font-size: 1.3em;
}
.section .text_boxb{
    padding: 32px 48px;
}
.section .text_boxb p, .section .text_boxc p{
    font-size: 1.5em;
    text-align: center;
}
.section .text_boxb h1, .section .text_boxc h1{
    font-weight: bolder;
    font-size:3em;
}
.section .btn{
    font-weight: bold;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.section .btn-1:hover{
    background-color: #545D55;
    color: white;
}
.section .btn-2:hover{
    background-color:  #c6dbd4;
    color: black;
}

.last-main{
    line-height: 25px;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    box-shadow: 0 8px 6px -6px rgb(0 0 0 / 0.2);
    
}


.main-tble ul{
    list-style: none;
    text-decoration: none;
}
.main-tble .tble a{
    text-decoration: none;
    color: rgba(0,0,0,.58);
    font-weight: 400;
}
.main-tble .main-1{
    width: auto;
    height: 200px;
}
.main-tble .tble a:hover{
    text-decoration: none;
    color: black;
}
.main-tble .main-1 .tble{
    width: 210px;
    height: auto;
    margin: 0 15px;
    display: inline;
    display: block;
    float: left;
}
.main-tble .main-1  h5{
    margin-bottom: 30px;
    font-size: 1.1rem;
}
.main-tble .tble li{
    padding: 10px 0px;
}
.footlast{
    width: 100%;
    display: block;
    float: left;
    font-size: 30px;
    padding-left: 10px;
}
.footlast .logo  a{
    color: black;
    text-decoration: none;
    padding-right: 10px;
    
}
.footlast a:hover{
    color: green;
    
}
.footlast .policy{
    margin: 15px 0px;
    display: flexbox;
}
.policy ul li {
    display: inline-block;
    
}
.policy ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding-right: 10px;
    font-weight: 500;   
}
.footlast .policy a:hover{
    color: black;
    text-decoration: underline;
    
}
.footlast .policy span{
    font-size: 18px;
    display: none;
}
.footlast .copyright{
    margin-left: 30px;
    margin-bottom: 30px;
}
.footlast .copyright p{
    font-size: 15px;
    color: rgba(0,0,0,.58);
}



@media(max-width:768px){
    #top {
        display: flex;
        flex-direction: column;
      }
      #top div:first-child {
        order: 1;
      }
}

  
@media (min-width: 780px){

  
    .last-main{
        padding: 50px 200px 30px 200px;
    }
    
    
   
}
@media (min-width: 1300px){

    
    .last-main{
        padding: 50px 400px 30px 400px;
    }
    
    


}
@media(min-width:1420px){
    .section{
        margin-top: 35px;
        margin-left: 35px;
        margin-right: 35px;
    }
   
}
@media (max-width: 1024px){

    .section .text_boxb h1, .section .text_boxc h1{
        font-weight: bolder;
        font-size:1.8em;
    }
    .policy ul li {
        display: grid;
        
    }
    .policy ul li {
        text-decoration: none;
        color: black;
        font-size: 15px;
        margin-bottom: 2rem;
        font-weight: 500;   
    }

}
@media (min-width:1024px){
    .footlast .policy span{
        display: inline-block;
        
    }
   
}